body{
  background-image: url("football field.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: cyan;
}
nav{
  background: green;
  border: black solid thin;
  display: inline;
}
