body{
  background-image: url("grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: cyan;
}
nav{
  background: green;
  border: black solid thin;
  display: inline;
}
#tbl{
  background: white;
  background-size: cover;
}
table,th,td{
  background: white;
  border: solid thick black;
  background-size: cover;
  font:bold;
}
  
