/*  this is how you add comments in CSS. ADD stars at both the beginning and ending of comment*/ 
body{
  background-image: url("tree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#heading{
  background-image: url("heading.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: purple;
}
h1 { 
  font: small-caps bold 24px/1 sans-serif;
}
#bar{ 
  border: black 2px solid;
  display: inline;
  color: blue;
}
nav {
  border: darkblue thin solid;
  background: lightblue;
  color: red;
  display: inline;
}
p {
  border: groove thin dashed red;
  color: red;
  display: inline;
  background-image: url("bblue.svg");
  background-size: cover;
}
p:hover {
  color: darkorange;
}
.football{
  background: brown;
  background-size: 100% 100%;
  max-width:400px;
  border-bottom: black solid 1px;
}
#website{
  background-image: url("white.jpg");
  background-size: cover;
}
