body{
  background-image: url("blue back.jpg");
  background-repeat: no-repeat;
}
center{
  background-image: url("heading.jpg");
  background-repeat: no-repeat;
}
h1 { 
  font: small-caps bold 24px/1 sans-serif;
}
